{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    blog-create a Post
{% endblock title %}
{% block bodycontent %}
    <div class="container">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-2 '>New Post</legend>
                {{form|crispy}}
            </fieldset>
            <div class='form-group mx-auto'>
                <input class='btn btn-outline-primary ' type="submit" value="Post">
            </div>
        </form>
        
    </div>
{% endblock bodycontent %}