{% extends 'blog/base.html' %}
{% block title %}
    blog-{{ posts.first.author }}-posts
{% endblock title %}
{% block bodycontent %}
    <div class="container">
        {% for post in posts %}
            {% if forloop.first %}
                <div class="media border rounded shadow p-3 m-2">
                    <img class="img-thumbnail rounded-circle img-fluid" style="height:125px;width:125px" src="{{ post.author.profile.profile_pic.url }}" alt="user profile pic">
                    <div class="media-body p-4">
                        <h2>{{post.author.first_name}} {{post.author.last_name}}</h2>
                        <h3>
                            {{ page_obj.paginator.count }} Post{{ page_obj.paginator.count|pluralize }}
                            by {{ view.kwargs.username }}
                        </h3>
                    </div>
                </div>
            {% endif %}
            <article class="media border rounded shadow p-3 m-2 bg-white">
                <img class="rounded-circle img-fluid" style="height:50px;width:50px" src="{{ post.author.profile.profile_pic.url }}" alt="author profile pic">
                <div class="media-body pl-2">
                    <h4 class="text-break"><a href="{% url 'blog_post_user' post.author %}">{{ post.author }}</a><small><i> posted on {{ post.date_posted|date:"d F, Y" }}</i></small></h4><hr>
                    <h2><a href="{% url 'blog_post_detail' post.pk %}">{{ post.title|title}}</h2></a>
                    {% if post.content|wordcount > 70 %}
                        <p class="text-break" id="{{post.id}}" >{{post.content|linebreaksbr|urlize|truncatewords:70}}</p>
                        <a href="{% url 'blog_post_detail' post.pk %}" class="btn btn-primary" >Read More</a>
                    {% elif post.content|length > 500 %}
                        <p class="text-break" id="{{post.id}}" >{{post.content|linebreaksbr|urlize|truncatechars:500}}</p>
                        <a href="{% url 'blog_post_detail' post.pk %}" class="btn btn-primary" >Read More</a>
                    {% else %}
                        <p class="text-break">{{post.content|linebreaksbr|urlize}}</p>
                    {% endif %}
                </div>
            </article>
            {% empty %}
                <div class="p-3 m-2" >
                    <h4>Sorry, no Posts</h4>
                    <a class="btn btn-secondary m-1" href="{% url 'blog_post_create' %}">Add a post</a>
                </div>
        {% endfor %}
        <ul class="pagination pagination justify-content-end p-3 m-3">
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <li class="page-item "><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link disabled" href="">Previous</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if i == page_obj.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    {% elif i >  page_obj.number|add:-3 and i < page_obj.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages}}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}

            {% endif %}
        </ul>
    </div>
    
{% endblock bodycontent %}